{% load bootstrap3 %}

<nav class="navbar navbar-default navbar-inverse">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'gallery:all-galleries' %}">{% bootstrap_icon 'picture' %} Galerie</a></li>
                {% if request.user.is_authenticated %}<li><a href="{% url 'gallery:user-galleries' %}">{% bootstrap_icon 'picture' %} Moje Galerie</a></li>{% endif %}
            </ul>

            {% if request.user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'logout' %}">{% bootstrap_icon "off" %} Wyloguj {{ request.user.username }}</a></li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>