{% load static %}
{% load bootstrap3 %}


<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.css">

    {% block app_css %}{% endblock app_css %}

    <title>TestApp</title>
</head>
<body>
    {% block navigation %}
        {% include '_navigation.html' %}
    {% endblock navigation %}


    {% block messages %}
        {% if messages %}
            <div id="messages" class="container">{% bootstrap_messages %}</div>
        {% endif %}
    {% endblock messages %}


    {% block content %}
        <div class="container">
            {% block base %}{% endblock base %}
        </div>
    {% endblock content %}

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".fancybox").fancybox();
        });
    </script>
</body>
</html>