{% extends 'base.html' %}

{% load static %}
{% load bootstrap3 %}


{% block app_css %}
    <link rel="stylesheet" href="{% static 'registration/css/style.css' %}">
{% endblock app_css %}


{% block navigation %}{% endblock navigation %}


{% block base %}

    <div id="login" class="col-sm-4 col-sm-push-4">
        <form class="form-horizontal" action="" method="post">
            {% csrf_token %}

            {% bootstrap_form form layout='horizontal' %}

            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn btn-primary">Zaloguj</button>
                </div>
            </div>
        </form>
    </div>

{% endblock base %}