{% extends 'base.html' %}

{% load static %}


{% block base %}

    <div id="gallery">
        <h1>{{ header|default:'Header' }}</h1>
        {% block app %}{% endblock app %}
    </div>

{% endblock base %}


{% block app_css %}
    <link rel="stylesheet" href="{% static 'gallery/css/style.css' %}">
{% endblock app_css %}


{% block app_js %}

{% endblock %}