{% extends "gallery/base.html" %}


{% load static %}
{% load bootstrap3 %}


{% block app %}

    {% if request.user.is_authenticated %}
        <p class="text-right"><a href="{% url 'gallery:add_gallery' %}" class="btn btn-success">{% bootstrap_icon 'plus' %} Dodaj</a></p>
    {% endif %}

    {% if object_list %}
        <table class="table table-hover table-bordered table-responsive">
            <tr>
                <th>Nazwa</th>
                <th>Opis</th>
                <th>Właściciel</th>
                <th colspan="2"></th>
            </tr>
            {% for o in object_list %}
                <tr>
                    <td>{{ o.name }}</td>
                    <td>{{ o.description }}</td>
                    <td>{{ o.owner.username }}</td>
                    <td>
                        <a href="{% url 'gallery:show-gallery' o.slug %}" class="btn btn-xs btn-primary">{% bootstrap_icon 'eye-open' %} Zobacz</a>
                    </td>
                    <td>
                        {% if o.owner == request.user %}
                            <a href="{% url 'gallery:add-image-to-gallery' o.slug %}" class="btn btn-xs btn-default">{% bootstrap_icon 'edit' %} Dodaj zdjęcia</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        {% bootstrap_alert "Nie masz jescze galerii." dismissable=False %}
    {% endif %}


    {% if is_paginated %}<div class="text-center">{% bootstrap_pagination page_obj %}</div>{% endif %}

{% endblock app %}