{% extends "gallery/base.html" %}


{% load static %}
{% load bootstrap3 %}
{% load thumbnail %}


{% block app %}

    {% if  object.owner == request.user %}
        <p class="text-right"><a href="{% url 'gallery:add-image-to-gallery' object.slug %}" class="btn btn-success">{% bootstrap_icon 'plus' %} Dodaj</a></p>
    {% endif %}

    {% if images %}
        <div class="row gallery">
            {% for i in images %}
                <div class="text-center col-md-3 col-xs-6 {% if forloop.counter0|divisibleby:4 %}clearfix clear{% endif %}">
                    {% thumbnail i.image  "x175" as im %}
                        <a href="{% get_media_prefix %}{{ i.image }}" title="{{ i.description }}" class="fancybox" rel="{{ object.slug }}">
                            <img src="{{ im.url }}" alt="{{ i.description }}" class="img-responsive">
                        </a>
                    {% endthumbnail %}

                    {% if i.description %}
                        <p>{{ i.description }}</p>
                    {% endif %}

                </div>
            {% endfor %}
        </div>
    {% else %}
        {% bootstrap_alert 'Ta galeria jest jeszcze pusta.' %}
    {% endif %}

{% endblock app %}