{% extends "gallery/base.html" %}


{% load static %}
{% load bootstrap3 %}


{% block app %}

    <form action="" method="post">
        {% bootstrap_form form set_required=false %}
        {% csrf_token %}

        <div class="form-group">
            {% bootstrap_button "Zapisz" button_type="submit" %}
        </div>

    </form>

{% endblock app %}