{% extends "gallery/base.html" %}


{% load static %}
{% load bootstrap3 %}


{% block app %}

    {% if form.errors %}
        {% bootstrap_alert "Wypełnij poprawnie formularz." alert_type='danger' %}
    {% endif %}

    <form action="" method="post" enctype="multipart/form-data">
        {% bootstrap_form form %}
        {% csrf_token %}

        <div class="form-group">
            {% bootstrap_button "Zapisz" button_type="submit" %}
        </div>

    </form>

{% endblock app %}